@page "/guild/treasury"
@layout GuildLayout

<h3>Guild Treasury</h3>

@if (treasuryItems == null || treasuryItems.Count() == 0)
{
    <LoadingIndicator />
}
else
{
    <div class="item-container">
        @foreach (var item in treasuryItems)
        {
            <div class="item">
                <img src="@item.Icon" title="@item.Name - @item.Count of @item.Needed" class="item-icon" />
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @($"{item.PercentComplete}%");" aria-valuenow="@item.PercentComplete" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="item-label">@item.PercentComplete %</div>
            </div>
        }
    </div>
}
